<?xml version="1.0"?>
<launch>

  <!-- Arg -->
  <arg name="model" default="robodrive"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="3.14"/>

  <!-- ENV -->
  <env name="GAZEBO_MODEL_PATH" value="$(find robodrive_simulation)/models:${GAZEBO_MODEL_PATH}"/>

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robodrive_simulation)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
