<?xml version="1.0"?>
<launch>

  <arg name="joy_config" default="joy" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find robodrive_teleop)/config/$(arg joy_config).config.yaml" />
  <arg name="joy_topic" default="joy" />
  <arg name="namespace" default="robodrive0"/>

      <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.3" />
        <param name="autorepeat_rate" value="100.0" />
        <param name="dev_ff"    value="/dev/input/event29" />
        <param name="default_trig_val" value="true" />
        <remap from="joy" to="$(arg joy_topic)" />
    </node>
    <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
        <rosparam command="load" file="$(arg config_filepath)" />
        <remap from="cmd_vel" to="$(arg namespace)/joy_vel" />
    </node>



</launch>